.form-label, .big-label {
    -fx-alignment: BASELINE_LEFT;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}

.big-label {
    -fx-font-size: 20;
}

.text-field {
    -fx-border-radius: 10;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-min-width: 200;
}

.text-field-container {
    -fx-alignment: CENTER;
}

.error-text {
    -fx-alignment: BASELINE_LEFT;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill: #ac0303;
}

.dim-separator {
    -fx-opacity: 0.5;
    -fx-padding: 5 0;
}

.primary-button, .secondary-button {
    -fx-alignment: CENTER;
    -fx-border-width: 0;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-min-width: 120;
}

.primary-button {
    -fx-background-color: #F05742;
    -fx-text-fill: white;
}

.primary-button:hover {
    -fx-background-color: #ec462f;
}

.secondary-button {
    -fx-background-color: #9fb4fd;
    -fx-text-fill: white;
}

.secondary-button:hover {
    -fx-background-color: #889ffd;
}

.menu-bar {
    -fx-min-width: 800;
}

.small-logo {
    -fx-alignment: CENTER;
    -fx-opacity: 0.7;
}

.logo {
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

.dim-label {
    -fx-text-fill: #7c7c7c;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-alignment: CENTER;
}

.table-row-cell:hover {
    -fx-cursor: hand;
    -fx-font-weight: 500;
}

.table-row-cell:odd{
    -fx-background-color: #e9efff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #ced7fd;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: steelblue;
}
.table-row-cell:selected .text {
    -fx-font-weight: bold;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #f4f4f4;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, rgba(186, 202, 253, 0.7), rgba(166, 180, 255, 0.7));
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, rgba(186, 202, 253, 0.7), rgba(166, 180, 255, 0.7));
}
